# Server
PORT=5050
NODE_ENV=development

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=zepto

# Auth
JWT_SECRET=change-me
TOKEN_EXPIRES_IN=1d

# OTP / SMS provider (placeholder)
OTP_EXP_MINUTES=5
SMS_PROVIDER_API_KEY=your-key
SMS_SENDER_ID=YourApp


